[Unit]
Description=Lock X session using slock for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/%i/.cache/Xauthority
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/slock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
